* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
    font-size: 30px;
  }
  
  nav {
    flex: 1;
    text-align: right;
    font-family: 'Shadows Into Light', cursive;
  }
  
  nav ul {
    display: inline-block;
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 30px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  a:hover{
    transition: 0s;
    color: red;
  }
  
  p {
    color: #555;
  }
  .container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .row {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .col-2 {
    flex-basis: 50%;
    min-width: 300px;
  }
  .col-2 img {
    max-width: 100%;
    padding: 50px 0;
  }
  .col-2 h1 {
    line-height: 60px;
    margin: 25px 0;
  }
  .btn {
    display: inline-block;
    background: red;
    color: #fff;
    padding: 15px 30px;
    margin: 30px 0;
    border-radius: 5px;
    transition:  0.5s;
  }
  
  .btn:hover {
    transition: 1s;
    background-color:blue ;
    color: #fff;
  }
  .navi{
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 45px;
    width: 10000px;
    color: white;
    position: fixed;
  }
  .header {
    background-color: #FFD5008F;
    height: 100px;
    color: white;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Work Sans', sans-serif;
  }
  .header .row {
    margin-top: 20px;
  } 
  .logo{
    margin-right: 550px;
    margin-left: -100px;
    color: red;
    font-family: 'Satisfy', cursive;
    font-size: 60px;
  }
  .panier{
    height: 20px;
    width: 20px;
  }
  .Logout{
    height: 70px;
    width: 70px;
    margin-top: -20px;
    margin-left: 400px;
  }
  .bienvenue{
    margin-left: 350px;
    margin-right: 350px;
    height: 700px;
    border-radius: 25px;
    border: 3px solid rgb(208, 198, 198);
    background-color:#FFD5008F;
  }
  .divtitle{
    background-color: transparent;
    margin-left: 20px;
    margin-top: 80px;
    margin-bottom: 550px;
    margin-right: 800px;
  }
  .title{
    color: black;
    font-size: 50px;
    margin-left: 70px;
    font-family: 'Shadows Into Light', cursive;
    margin-top: 50px;
  }
  .souligne{
    border: 3px solid red;
    border-radius: 3px;
    height: 3px;
    width: 290px;
    margin-top: -550px;
    margin-right: 30px;
    margin-left: 60px;
  }
  .souligne:hover{
    border: 3px solid blue;
    transition: 2s;
  }
  .timide{
    background-color: transparent;
    margin-top: 50px;
    margin-right: 800px;
    margin-left: 50px;
  }
  .tomode{
    color: black;
  }
  .hesitez{
    color: red;
    margin-top: 30px;
  }
  .coco{
    color:red;
    font-family: 'Satisfy', cursive;
    font-size: 60px;
  }
  .h11{
    color: black;
    margin-right: 600px;
    margin-left: 70px;
    font-size: 50px;
    letter-spacing: 1.5px;
    font-family: 'Shadows Into Light', cursive;
  }
  .h12{
    color: red;
    margin-right: 600px;
    font-size: 70px;
    letter-spacing: 1.5px;
    font-family: 'Satisfy', cursive;
    margin-left: 70px;
  }
  .vp{
    font-family: 'Satisfy', cursive;
    color: gray;
    margin-left: 70px;
  }
  .formulairedecontact{
    background-color: #060500E3;
    margin-left: 550px;
    margin-right: 50px;
    margin-top: -600px;
    height: 500px;
    border: 3px solid rgb(204, 194, 194);
    border-radius: 10px;
  }
  /* footer */
  .footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    height: 500px;
    margin-top: 200px;
  }
  .footer p {
    color: #8a8a8a;
  }
  .footer h3 {
    color: #fff;
    margin-bottom: 20px;
  }
  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
  }
  
  .footer-col-1 {
    flex-basis: 30px;
  }
  
  .footer-col-2 {
    flex: 1;
    text-align: center;
  }
  .footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
  }
  .footer-col-3,
  .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
  }
  
  .footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
  }
  .copyright {
    text-align: center;
  }
  .container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .row {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .appli{
    height: 100px;
    width: 200px;
    margin-left: 300px;
  }
  .poupou{
    height: 80px;
    width: 200px;
    margin-left: 300px;
    margin-right: 300px;
  }
  .easy{
    font-size: 70px;
    letter-spacing: 1.5px;
    font-family: 'Satisfy', cursive;
    color:red ;
  }
  .soso{
    justify-content: center;
    padding: 30px;
  }
  .imgderoul{
    border-radius: 5px;
    height: 200px;
    width: 300px;
  }