* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
    font-size: 30px;
  }
  
  nav {
    flex: 1;
    text-align: right;
    font-family: 'Shadows Into Light', cursive;
  }
  
  nav ul {
    display: inline-block;
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 30px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  a:hover{
    transition: 0s;
    color: red;
  }
  
  p {
    color: #555;
  }
  .container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .row {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .col-2 {
    flex-basis: 50%;
    min-width: 300px;
  }
  .col-2 img {
    max-width: 100%;
    padding: 50px 0;
  }
  .col-2 h1 {
    line-height: 60px;
    margin: 25px 0;
  }
  .btn {
    display: inline-block;
    background: red;
    color: #fff;
    padding: 15px 30px;
    margin: 30px 0;
    border-radius: 5px;
    transition:  0.5s;
  }
  
  .btn:hover {
    transition: 1s;
    background-color:blue ;
    color: #fff;
  }
  .navi{
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 45px;
    width: 10000px;
    color: white;
    position: fixed;
  }
  .header {
    background-color: #FFD5008F;
    height: 750px;
    color: white;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Work Sans', sans-serif;
  }
  .header .row {
    margin-top: 20px;
  } 
  .categories {
    margin: 70px 0;
  }
  .gri3{
    border-radius: 5px;
    border: 3px solid rgb(199, 196, 196);
    transition: transform 0.5s;
  }
  
  .col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    height: 300px;
    width: 400px;
  }
  
  .col-3 img {
    width: 100%;
  }
  .small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    height: 330px;
    width: 300px;
  }
  
  .col-4 img {
    width: 100%;
  }
  
  .title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
  }
  
  .title::after {
    content: "";
    background: red;
    width: 90px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  h4 {
    color: #555;
    font-weight: normal;
  }
  
  .col-4 p {
    font-size: 14px;
  }
  
  .rating .fa {
    color: red;
  }
  
  .col-4:hover {
    transform: translateY(-5px);
  }
  /*     offre     */
  .offre {
    background-color: #F8CF0088;
    margin-top: 80px;
    padding: 30px 0;
    height: 500px;
  }
  
  .col-2 .offre-img {
    padding: 50px;
  }
  
  small {
    color: #555;
  }
  /* testimonial */
  .testimonial {
    padding-top: 100px;
  }
  .testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
  }
  .testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
  }
  
  .testimonial .col-3:hover {
    transform: translateY(-10px);
  }
  
  .fa.fa-quote-left {
    font-size: 34px;
    color: red;
  }
  
  .col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
  }
  
  .testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
  }

  /* brands */
  
  .brands {
    margin: 100px auto;
  }
  .col-5 {
    width: 160px;
  }
  .col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
  }
  
  .col-5 img:hover {
    filter: grayscale(0);
  }
  
  /* footer */
  .footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
  }
  .footer p {
    color: #8a8a8a;
  }
  .footer h3 {
    color: #fff;
    margin-bottom: 20px;
  }
  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
  }
  
  .footer-col-1 {
    flex-basis: 30px;
  }
  
  .footer-col-2 {
    flex: 1;
    text-align: center;
  }
  .footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
  }
  .footer-col-3,
  .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
  }
  ul {
    list-style-type: none;
  }
  .app-logo {
    margin-top: 20px;
  }
  .app-logo img {
    width: 140px;
  }
  
  .footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
  }
  .copyright {
    text-align: center;
  }
  .menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
  }
.btn{
    font-family: 'Shadows Into Light', cursive;
    background-color: red;
}
#bnt{
  margin-top: 3px;
}
  .bask{
    width: 35px;
    height: 35px;
  }
  .imgderoul{
    border-radius: 5px;
    height: 450px;
  }
  .deroulante{
    display: flex;
    border: 3px solid transparent;
    padding-top: -100px;
  }
  .h11{
    color: black;
    margin-right: 600px;
    font-size: 60px;
    letter-spacing: 1.5px;
    font-family: 'Shadows Into Light', cursive;
    /* font-family: 'Satisfy', cursive; */
  }
  .h12{
    color: red;
    margin-right: 600px;
    font-size: 70px;
    letter-spacing: 1.5px;
    font-family: 'Satisfy', cursive;
  }
  .gri3{
    border: 2px solid red;
  }
  .col-4{
    border: 2px solid red;
    margin-right: 6px;
  }
  .pour{
    color: #080800A1;
    font-family: 'Satisfy', cursive;
  }
   .panier{
    height: 20px;
    width: 20px;
  }
  #promo{
    font-size: 100px;
    font-family: 'Shadows Into Light', cursive;
  }
  .nomo{
    color: red;
    font-family: 'Shadows Into Light', cursive;
    font-size: 100px;
  }
  .popo{
    font-size: 25px;
    font-family: 'Satisfy', cursive;
    color:black;
  }
  .foofoo{
    color: red;
    font-size: 15px;
  }
  .easy{
    font-size: 70px;
    letter-spacing: 1.5px;
    font-family: 'Satisfy', cursive;
    color:red ;
  }
  .logo{
    margin-right: 600px;
    margin-left: -100px;
    color: red;
    font-family: 'Satisfy', cursive;
    font-size: 60px;
  }
  .bouton{
    display: flex;
    justify-content: space-around;
    background-color:transparent;
    width: 1000px;
    margin-left: 450px;
    border-radius: 5px;
    margin-top: 10px;
  }
  .fa-heart{
    height: 100px;
    width: 100px;
  }
  .product{
    display: flex;
  }
  .baye{
    display: flex;
  }
  .offer-img{
    margin-top: -100px;
    margin-left: -250px;
  }
  .vp{
    font-family: 'Satisfy', cursive;
    color: gray;
  }
  .offre-img{
    height: 500px;
    width: 900px;
    margin-top: -60px;
    margin-left: -200px;
    border-radius: 30px;
  }
  .pika{
    background-color: red;
    color: #000;
    font-size: 20px;
  }
  .poromo{
    font-size: 50px;
  font-family: 'Shadows Into Light', cursive;
  }
  .kaka{
    height: 200px;
    width: 70px;
  }
  #bala {
    display: inline-block;
    background: red;
    color: #fff;
    padding: 15px 30px;
    margin: 30px 0;
    border-radius: 5px;
    transition:  0.5s;
    font-family: 'Shadows Into Light', cursive ;
  }
  #bala:hover {
    transition: 1s;
    background-color:blue ;
    color: #fff;
  }
#comment1{
  margin-left: 40px;
}
#comment2{
  margin-right: 40px;
}